node_modules
.next

.env

**/.DS_Store
**/__pycache__

**/backend/alembic/versions/*

**/google-ee-credentials.json

**/populate_demo_data.py

**/data/lgrip30_files/*

**/masked_raster_*.tif

**/masked_raster_*.jpg

*secret*

token.pickle

**/saved_images/*

**/satellite_images/*

!.gitignore
