node_modules
.next

.env

**/.DS_Store
**/__pycache__

alembic/versions/*

**/populate_demo_data.py

**/data/lgrip30_files/*

**/data/rasters/masked_raster_*.tif

**/data/rasters/masked_raster_*.jpg

